@media all and (max-width: 600px) {
    :root {
        --drawerWidth: 3.5rem;
    }

    .nav-link .MuiListItemIcon-root {
        min-width: 0;
    }

    .nav-link .MuiListItemText-root {
        display: none;
    }

    .home__features,
    .employee__detail__grid {
        grid-auto-columns: 100%;
        grid-auto-flow: row;
    }

    .home__features > :not(:first-child),
    .employee__detail__grid > :not(:first-child) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }

    .home__features > :not(:last-child),
    .employee__detail__grid > :not(:last-child) {
        margin-left: 0;
        margin-right: 0;
    }

    .MuiToolbar-regular {
        height: 100%;
    }

    .nav__user__text {
        display: none;
    }

    .home__title {
        display: none;
    }

    .employee__detail__grid {
        grid-auto-columns: 100%;
        grid-auto-flow: row;
    }

    .employee__create__form__grid {
        display: block;
    }

    .employee__form__submit {
        margin-top: 1rem!important;
        width: 100%;
    }

    .employees__search {
        position: sticky;
        top: calc(56px + .5rem);
    }

    .card__content__row__inline-icon {
        display: none!important;
    }
}