@media all and (min-width: 601px) and (max-width: 768px) {
    :root {
        --drawerWidth: 3.5rem;
    }

    .nav-link .MuiListItemIcon-root {
        min-width: 0;
    }

    .nav-link .MuiListItemText-root {
        display: none;
    }

    .MuiToolbar-regular {
        height: 100%;
    }

    .nav__user__text {
        display: none;
    }

    .employees__search {
        position: sticky;
        top: calc(56px + .5rem);
    }

    .employee__detail__grid {
        grid-auto-columns: 100%;
        grid-auto-flow: row;
    }

    .card__content__row__inline-icon {
        display: none!important;
    }
}